name: PR

on:
  pull_request:
    paths:
      - '**'
      - '!**/*.md'
      - '!**/*.yml'
      - '!**/*.yaml'
      - '!.ci-dockerfiles/**'
      - '.github/workflows/pr.yml'

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: read

jobs:
  linux:
    name: Verify PR builds on Linux with most recent ponyc nightly
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/pony-sync-helper-ci-builder:release
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Builds with the most recent ponyc nightly
        run: |
          corral fetch
          corral run -- ponyc -Dopenssl_0.9.0
